.checkout{
    display: flex;
    .steps-box{
        width: 80%;
        padding: 0 20px;
        position: relative;
        .steps{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px 20px;
            .step{
                position: relative;
                display: flex;
                align-items: center;
                max-width: 200px;
                &.past{
                    .icon svg path, p{
                        color: #000;
                        fill:#000;
                    }
                }
                &.current{
                    .icon svg path, p{
                        color: $color1;
                        fill:$color1;
                    }
                }
                p{
                    color: #bbb;
                }
                .icon{
                    padding-right: 10px;
                    svg{
                        width: 50px;
                        height: 50px;
                        path{
                            transition: 300ms;
                            fill:#bbb;
                        }
                    }
                }
                .next-arrow{
                    position: absolute;
                    right: -30%;
                    &.icon svg{
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
        .buttons{
            display: flex;
            position: relative;
            .next{
                position: absolute;
                right: 0;
            }
            .prev{
                position: absolute;
                left: 0;
            }
        }
    }
    .summary-box{
        width: 20%;
        padding: 80px 20px 20px;
    }
}
.anim-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    transition: 300ms;
    >div{
        transition: 300ms;
    }
}
.step-switch-enter {
  opacity: 0;
}
.step-switch-enter-active {
  opacity: 1;
  transition: 300ms ease-out;
}
.step-switch-exit {
  opacity: 1;
}
.step-switch-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}

.summary{
    padding: 10px 20px;
    background-color: $color2;
    h2{
        color: $color1;
        font-size: 1.6em;
        margin-bottom: 5px;
    }
    p{
        margin-top: 5px;
        font-size: 1.2em;
        color: #fff;
    }
    ul{
        padding: 0 10px;
        list-style: none;
        li{
            color: #fff;
            font-size: .8em;
            display: flex;
            justify-content: space-between;
            span{
                font-size: inherit;
            }
        }
    }
    .totals{
        margin-top: 30px;
        text-align: right;
        p{
            font-size: 1em;
            &:last-child{
                font-size: 1.5em;
            }
        }
    }
}