.cart-page{
    padding-bottom: 100px!important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    .cart-header{
        background-color: #ededed;
        display: flex;
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        >p{
            padding: 10px;
            text-align: center;
            font-weight: 700;
            width: 20%;
            box-sizing: border-box;
            &:nth-child(1){
                text-align: left;
                padding-left: 30px;
                width: 40%;
            }
        }
    }
    .cart{
        width: 100%;
    }
    .cart-item{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        &:not(:last-of-type){
            border-bottom: 1px solid #ccc;
        }
        .first{
            display: flex;
            box-sizing: border-box;
            &:first-child{
                width: 40%;
                display: flex;
                align-items: center;
                .img{
                    img{
                        width: 150px;
                        max-height: 150px;
                    }
                }
            }
        }
        p, a, .qty{
            box-sizing: border-box;
            width: 20%;
            text-align: center;
            font-size: 1.3em;
            &.name{
                text-decoration: none;
                color: #000;
                padding-left: 20px;
                text-align: left;
                font-size: 1.5em;
            }
        }
        .remove{
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-image: url('../../assets/close.svg');
            background-position: center;
            background-size: 7px;
            background-repeat: no-repeat;
        }
    }
    .total-box{
        text-align: right;
        border-top: 2px solid $color1;
        padding: 30px 10px 10px 10px;
        margin-top: 10px;
        p{
            padding: 2px 5px;
            font-weight: 700;
            font-size: 1em;
            &:last-child{
                font-size: 1.4em;
            }
        }
    }
    .btn{
        margin-right: 10px;
    }
}

.cart-widget-bg{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1330px;
    z-index: 9;
    padding: 0 20px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    transition: 300ms;
    &.cart-widget-enter{
        opacity: 0;
        .cart-widget-body{
            max-width: 0;
            padding: 20px 0;
        }
    }
    &.cart-widget-enter-active{
        opacity: 1;
        .cart-widget-body{
            max-width: 300px;
            padding: 20px;
        }
    }
    &.cart-widget-leave{
        opacity: 1;
        .cart-widget-body{
            max-width: 300px;
            padding: 20px;
        }
    }
    &.cart-widget-leave-active{
        opacity: 0;
        .cart-widget-body{
            max-width: 0;
            padding: 20px 0;
        }
    }
    .cart-widget-body{
        background-color: $color1;
        height: auto;
        width: 250px;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: 300ms;
        &:hover, &.active{
            .top{
                background-color: $btn1_hover;
                p{
                    color: $color2;
                }
                .icon svg path{
                    fill: $color2;
                }
            }
            .bottom{
                max-height: 500px;
                .cart-items{
                    padding: 10px 20px 20px;
                }
            }
        }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            cursor: pointer;
            transition: 300ms;
            span{
                display: flex;
                align-items: center;
                .icon{
                    padding-right: 5px;
                    svg{
                        width: 20px;
                        height: 20px;
                        path{
                            transition: 300ms;
                        }
                    }
                }
            }
            p{
                color: #fff;
                transition: 300ms;
                font-weight: 700;
                font-size: 1.5em;
            }
        }
        .bottom{
            max-height: 0;
            overflow: hidden;
            transition: 500ms;
            .loader{
                width: 8em;
                height: 8em;
                background: linear-gradient(to right, $color2 10%,rgba(255,255,255,0) 42%);
                &::before{
                    background: $color2;
                }
                &::after{
                    background: $color1;
                }
            }
        }
        .cart-items{
            transition: 500ms;
            padding: 0 20px 0 20px;
            button{
                margin-bottom: 10px;
            }
        }
        .cart-item{
            display: flex;
            height: 75px;
            position: relative;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                img{
                    max-height: 75px;
                    max-width: 75px;
                }
            }
            .text{
                padding:5px 10px;
                p, a{
                    color: $color2;
                }
                .name{
                    font-size: 1.2em;
                    padding-bottom: 5px;
                    display: block;
                    font-weight: 700;
                    text-decoration:none;
                }
                .remove{
                    font-size: .8em;
                    font-weight: 700;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}