.cart-page{
    padding-bottom: 100px!important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .cart-header{
        background-color: #ededed;
        display: flex;
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
        >p{
            padding: 10px;
            text-align: center;
            font-weight: 700;
            width: 20%;
            box-sizing: border-box;
            &:nth-child(1){
                text-align: left;
                padding-left: 30px;
                width: 40%;
            }
        }
    }
    .cart{
        width: 100%;
    }
    .cart-item{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        &:not(:last-of-type){
            border-bottom: 1px solid #ccc;
        }
        .first{
            display: flex;
            box-sizing: border-box;
            &:first-child{
                width: 40%;
                display: flex;
                align-items: center;
                .img{
                    img{
                        width: 150px;
                        max-height: 150px;
                    }
                }
            }
        }
        p, a, .qty{
            box-sizing: border-box;
            width: 20%;
            text-align: center;
            font-size: 1.3em;
            &.name{
                text-decoration: none;
                color: #000;
                padding-left: 20px;
                text-align: left;
                font-size: 1.5em;
            }
        }
        .remove{
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            width: 15px;
            height: 15px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-image: url('../../assets/close.svg');
            background-position: center;
            background-size: 7px;
            background-repeat: no-repeat;
        }
    }
    .total-box{
        text-align: right;
        border-top: 2px solid $color1;
        padding: 30px 10px 10px 10px;
        margin-top: 10px;
        p{
            padding: 2px 5px;
            font-weight: 700;
            font-size: 1em;
            &:last-child{
                font-size: 1.4em;
            }
        }
    }
    .btn{
        margin-right: 10px;
    }
}

.cart-sidebar{
    background-color: $color1;
    height: 100vh;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;
    transition: 300ms;
    &.cart-sidebar-enter{
        max-width: 0;
        padding: 20px 0;
    }
    &.cart-sidebar-enter-active{
        max-width: 300px;
        padding: 20px;
    }
    &.cart-sidebar-leave{
        max-width: 300px;
        padding: 20px;
    }
    &.cart-sidebar-leave-active{
        max-width: 0;
        padding: 20px 0;
    }
    .cart-item{
        display: flex;
        height: 100px;
        .first{
            .img{
                img{
                    max-height: 100px;
                }
            }
        }
    }
}