.form-box{
    width: 350px;
    margin: auto;
    transition: 300ms;
}
.form{
    .return{
        margin-bottom: 0;
    }
    button{
        margin-top: 10px;
    }
    h2{
        font-size: 2em;
        color: $color1;
        margin-bottom: 15px;
        text-align: center;
    }
    .success-page{
        text-align: center;
        .icon svg{
            margin: 0 0 30px;
            height: 70px;
            width: 70px;
            path{
                fill: $correct;
            }
        }
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .btn:not(.full){
            width: 48%;
        }
    }
}
.modal.product-delete-modal{
    padding: 40px 60px 40px;
    margin-top: -100px;
    p{
        font-size: 1.4em;
        margin-bottom: 20px;
    }
}