.condition-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition: 300ms;
    .condition{
        text-align: center;
        width: 25%;
        &.correct{
            p{
                color: #000;
            }
        }
        .big{
            font-size: 2.4em;
            font-weight: 700;
        }
        p{
            color: #bbb;
            font-size: .8em;
            margin: auto;
            transition: 300ms;
        }
    }
}