.condition-box{
    display: flex;
    justify-content: space-between;
    .condition{
        text-align: center;
        width: 100px;
        &.correct{
            p{
                color: #000;
            }
        }
        .big{
            font-size: 3em;
            font-weight: 700;
        }
        p{
            color: #999;
            font-size: .8em;
            max-width: 65px;
            margin: auto;
            transition: 300ms;
        }
    }
}