.notif-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9; }
  .notif-box .notif {
    overflow: hidden;
    position: relative;
    width: 250px;
    max-height: 350px;
    box-sizing: border-box;
    padding-left: 60px;
    margin: 20px 0;
    background-color: #ccc;
    -webkit-transition: 400ms;
    transition: 400ms; }
    .notif-box .notif p {
      color: #fff;
      font-weight: 600;
      padding: 10px 5px;
      font-size: 13px; }
    .notif-box .notif.enter {
      -webkit-animation-name: slide-in;
      animation-name: slide-in;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1; }
    .notif-box .notif.exit {
      -webkit-animation-name: slide-out;
      animation-name: slide-out;
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 1; }
    .notif-box .notif:hover::before {
      top: 100%; }
    .notif-box .notif:hover .close {
      top: 0; }
    .notif-box .notif::before {
      content: '';
      background-color: #999;
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 100%;
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .notif-box .notif .close {
      cursor: pointer;
      content: '';
      position: absolute;
      left: 0;
      top: -100%;
      width: 50px;
      height: 100%;
      background-image: url("../../assets/close.svg");
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: 300ms;
      transition: 300ms; }
    .notif-box .notif.info {
      background-color: #224a9e; }
      .notif-box .notif.info::before {
        background-color: #23395B;
        background-image: url("../../assets/info.svg"); }
      .notif-box .notif.info .close {
        background-color: #23395B; }
    .notif-box .notif.error {
      background-color: #ce0101; }
      .notif-box .notif.error::before {
        background-color: #9e0000;
        background-image: url("../../assets/error-white.svg"); }
      .notif-box .notif.error .close {
        background-color: #9e0000; }
    .notif-box .notif.success {
      background-color: #26ac21; }
      .notif-box .notif.success::before {
        background-color: #1a7916;
        background-image: url("../../assets/success.svg"); }
      .notif-box .notif.success .close {
        background-color: #1a7916; }

.notif-enter {
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px); }

.notif-enter-active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.notif-leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.notif-leave-active {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px); }
