.btn{
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 700;
    transition: 300ms;
    cursor: pointer;
    &.center{
        display: block;
        margin: auto;
    }
    &.round{
        border-radius: 25px;
    }
    &.outline-white{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        &:active{
            transform: scale(.95);
        }
    }
    &.full{
        width: 100%;
    }
    &.disabled{
        opacity: .5;
        cursor: no-drop;
        user-select: none;
    }
    &.primary{
        background-color: $btn1;
        color: #fff;
        &:hover{
            background-color: $btn1_hover;
        }
    }
    &.danger{
        background-color: $btn_danger;
        color: #fff;
        &:hover{
            background-color: $btn_danger_hover;
        }
    }
    &.triple{
        overflow: hidden;
        height: 35px;
        padding: 0 20px;
        &.first{
            span:first-child{
                margin-top: -20px;
            }
        }
        span{
            display: block;
            margin: 10px 0;
        }
    }
}