.btn{
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 700;
    transition: 300ms;
    cursor: pointer;
    &.center{
        display: block;
        margin: auto;
    }
    &.round{
        border-radius: 25px;
    }
    &.outline-white{
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    &.full{
        width: 100%;
    }
    &.primary{
        background-color: $btn1;
        color: #fff;
        &:hover{
            background-color: $btn1_hover;
        }
    }
    &.triple{
        overflow: hidden;
        height: 35px;
        padding: 0 20px;
        &.first{
            span:first-child{
                margin-top: -20px;
            }
        }
        span{
            display: block;
            margin: 10px 0;
        }
    }
}