@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    font-size: 14px;
}
html{
    overflow-x: hidden;
}
.App{
  display: flex;
  justify-content: space-between;
  .content{
    position: relative;
    width: 100%;
  }
}
.pages{
    >div{
        position: relative;
        max-width: 1330px;
        padding: 0 20px;
        margin: 100px auto 0;
        transition: 400ms;
    }
}
.page-switch-enter {
    opacity: 0;
    transform: translateY(50px);
}
.page-switch-enter-active {
  opacity: 1;
  transform: translateX(0);
}
.page-switch-leave {
  transform: translateX(0);
  opacity: 1;
}
.page-switch-leave-active {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50px);
}
.error-message{
  position: relative;
  padding-left: 18px;
  transition: 300ms;
  font-size: .9em;
  font-weight: 700;
  color: $error;
  &::before{
    content: url('./assets/error.svg');
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
  }
}