.modal-bg{
    transition: 300ms;
    background-color: #00000070;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
}
.modal{
    padding: 20px;
    transition: 300ms;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    .close{
        z-index: 9;
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
        &.white svg path{
            fill: #fff;
        }
        svg{
            width: 10px;
            height: 10px;
            path{
                transition: 600ms;
                fill: #000;
            }
        }
    }
}
.modal-show-enter{
    opacity: 0;
    .modal{
        transform: translateY(-50px);
    }
}
.modal-show-enter-active{
    opacity: 1;
    .modal{
        transform: translateY(0);
    }
}
.modal-show-leave{
    opacity: 1;
    .modal{
        transform: translateY(0);
    }
}
.modal-show-leave-active{
    opacity: 0;
    .modal{
        transform: translateY(-50px);
    }
}