.product-header{
    display: flex;
    justify-content: space-between;
    transition: 300ms;
    max-width: 1160px;
    padding: 0 20px;
    margin: auto;
    .search{
        display: flex;
        align-items: flex-end;
        input[type=text]{
            background-image: url('../../assets/search.svg');
            background-size: 18px;
            background-position: left 10px center;
            background-repeat: no-repeat;
            box-shadow: 0 2px 4px #eee;
            position: relative;
            z-index: 2;
            outline: none;
            padding: 10px 13px 10px 33px;
            font-size: 14px;
            display: block;
            width: 250px;
            box-sizing: border-box;
            border: 1px solid #eee;
            transition: 300ms;
        }
        p{
            color: #999;
            padding-left: 10px;
            font-size: 1em;
        }
    }
    .sort{
        .icon-radio{
            .options{
                border-radius: 4px;
                .option{
                    padding: 7.5px 10px;
                    &.active{
                        background-color: $color1;
                        .icon svg path{
                            fill: $color2;
                        }
                    }
                    p{
                        display: none;
                    }
                    .icon{
                        height: 20px;
                        svg{
                            max-height: 20px;
                            max-width: 20px;
                        }
                    }
                }
            }
        }
    }
}
.product-list{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition: 400ms;
    max-width: 1120px;
    margin: auto;
    padding: 20px 0;
    .product-item{
        position: absolute;
    }
}
.product-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.product-not-found{
    margin: 100px auto 0;
    max-width: 500px;
    p{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        span{
            color: $color1;
            font-size: 24px;
        }
    }
}
.page-switch{
    transform: translateY(-50px);
}
.fade-appear{
    .product-header{
        transform: translateY(-50px);
        transition: 300ms;
    }
}
.fade-appear-active{
    .product-header{
        transform: translateY(0);
        transition: 300ms;
    }
}
.product-item{
    transition: 300ms;
    position: relative;
    margin: 15px;
    width: 250px;
    padding-bottom: 45px;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 4px;
    .delete-mask{
        width: 100%;
        height: 100%;
        background-color: #00000090;
        z-index: -1;
        opacity: 0;
        border-radius: 4px;
        position: absolute;
        transition: 300ms;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            max-width: 180px;
            font-size: 1.2em;
            color: #fff;
            text-align: center;
        }
        button{
            margin:10px 5px;
            position: relative;
        }
    }
    &.deleting{
        .delete-mask{
            opacity: 1;
            z-index: 3;
        }
        >div:not(.delete-mask){
            opacity: .3;
        }
    }
    .top{
        border-bottom: 1px solid #ccc;
        padding: 10px;
        height: 46px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: #000;
            cursor: pointer;
            font-weight: 700;
            font-size: 1.2rem;
        }
        .settings-box{
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 25px;
            width: 25px;
            position: relative;
            cursor: pointer;
            border-radius: 30px;
            background-color: #eee;
            transition: 300ms;
            button{
                position: relative;
                border: none;
                cursor: pointer;
            }
            &:hover{
                width: 70px;
                .trigger svg{
                    transform: rotate(45deg);
                }
                .body{
                    a, button{
                        opacity: 1;
                    }
                }
            }
            .trigger{
                z-index: 2;
                position: absolute;
                right: 2.5px;
                height: 15px;
                width: 15px;
                padding: 2.5px;
                border-radius: 50%;
                transition: 300ms;
                background-color: #fff;
            }
            svg{
                transition: 300ms;
                display: block;
                height: 100%;
                width: 100%;
                path{
                    fill: #ccc;
                }
            }
            .body{
                display: flex;
                align-items: center;
                position: absolute;
                left: 5px;
                width: 50px;
                a, button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 17px;
                    width: 17px;
                    padding: 0 2.5px;
                    border-radius: 50%;
                    transition: 300ms;
                    opacity: 0;
                    &:nth-child(2){
                        margin-right: 2.5px;
                        svg path{
                            fill: #000;
                        }
                    }
                    &:nth-child(1){
                        svg path{
                            fill: $error;
                        }
                    }
                    svg{
                        transition:300ms;
                        height: 12.5px;
                        width: 12.5px;
                    }
                }
            }
        }
    }
    .img{
        min-height: 150px;
        max-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            overflow: hidden;
            height:150px;
            max-height: 150px;
        }
        &.default{
            background-color: $color3;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                svg{
                    width: 50px;
                }
            }
        }
    }
    .desc{
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 10px;
        height: 75px;
        position: relative;
        .price{
            font-size: 16px;
            position: absolute;
            bottom: -5px;
            right: 5px;
            font-weight: 700;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.page-switch-exit {
  opacity: 1;
}
.page-switch-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}
.product-page{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    height: 500px;
    transition: 400ms;
    .img{
        background-color: #fff;
        z-index: 2;
        border-right: 1px solid #ccc;
        padding-right: 20px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
        img{
            max-width: 100%;
        }
    }
    .text{
        z-index: 1;
        padding-left: 20px;
        transition: 300ms;
        width: 50%;
        height: 100%;
        align-self:flex-start;
        .name{
            font-weight: 700;
            font-size: 2em;
            margin-bottom: 20px;
        }
        .desc{
            font-size: 1.2em;
            color: #333;
        }
        .price{
            font-weight: 700;
            font-size: 2em;
            position: absolute;
            bottom: 50px;
            right: 10px;
        }
        .btn.primary{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}
.return{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &:hover{
        svg{
            transform: translate(-5px, 2px);
        }
    }
    span{
        font-weight: 700;
        font-size: 1.1em;
    }
    svg{
        transition: 300ms;
        transform:translateY(2px);
        margin-right: 7px;
        width: 15px;
    }
}