.product-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.product-item{
    position: relative;
    margin: 15px;
    width: 250px;
    padding-bottom: 45px;
    box-shadow: 0 2px 6px #ccc;
    .top{
        border-bottom: 1px solid #ccc;
        padding: 10px;
        p{
            font-weight: 700;
            font-size: 1.2rem;
        }
    }
    .img{
        min-height: 150px;
        &.default{
            background-color: $color3;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                svg{
                    width: 50px;
                }
            }
        }
    }
    .desc{
        border-top: 1px solid #ccc;
        padding: 10px;
        height: 75px;
    }
    button{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}